#customer-home-restaurants-suggestions {
    /* border: 1px solid grey; */
    padding: 15px;
    margin: 15px 10px 10px 2px;
    width: 100%;
    border-radius: 5px;
}

.restaurantCard{
    padding: 5px 10px 5px 15px;
    margin: 10px 10px 10px 5px;
    border: 1px solid grey;
    border-radius: 10px;
}

.restaurantCard:hover {
    background-color: #D2D2D2;
    cursor: pointer;
}

#home-box {
    /* border: 1px solid grey; */
    width: 72%;
    /* margin-top: 100px; */
}

#search-box {
    /* border: 1px solid grey; */
    padding: 15px 15px 0px 15px;
    font-size: 1.5em;
}

/* #searchBar {
    background-image: url('../images/searchGlass.png');
    background-repeat: no-repeat;
    background-position: right center;
    padding: 10px;
} */

/* #deliveryMode {
    width: 100%;
    padding: 10px;
}

#dishType {
    width: 100%;
    padding: 10px;
} */


.restSuggestionsBox {
    /* border: 1px solid grey; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.eachRest {
    /* border: 1px solid grey; */
    width: 300px;
    height: 250px;
    padding: 10px;
    margin: 15px;
    margin-right: 0px;
    /* background-image: url("rest1.jpg"); */
}

/* .eachRest:hover {
    border-style: solid;
    border-width: 1px;
} */

.fa-heart:hover {
    text-decoration: none;
    background-color:red;
}

.rest-image {
    width: 275px;
    height: 150px
}

.rest-name {
    font-size: 1.3em;
    font-weight: bold;
    padding-top: 10px;
    padding-right: 5px;
}

.rating {
    font-size: 0.6em;
    float: right;
    padding: 3px 8px;
    border-radius: 10px;
    background-color: #CDCDCD;
}

.delivery-details-line {
    margin-top: -7px;
}

.delivery-time {
    color: grey;
}

.mar-bor {
    display: flex;
    flex-wrap: wrap;
}

.select1 {
    margin-bottom: 5px;
    width: 150px;
    height: 35px;
    padding: 5px 30px 5px 5px;
    font-size: 18px;
    border: 1px solid #ccc;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* background: url("/uploads/media/default/0001/02/f7b4d3d2ba3fe1d8518e6e63d7740e1e73921abf.png") 96% / 15% no-repeat #eee; */
  }