.modal {
    position: fixed;
    top: 50px;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    
}

.modal-main {
    position:fixed;
    background: white;
    width: 80%;
    height: auto;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border: 1px solid #255900;
}

.modal-main .addToCartSymbol{
    position: absolute;
    top: 0px;
    right: 0px;
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}

.modal-close-button {
    margin: 5px;
    padding: 15px;
    text-align: center;
}

.each-item {
    border: 1px solid grey;
    width: 75%;
}